.grid-dot {
  min-height: 100vh;
  width: 100%;
  background-color: #0b0b0b;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.18) 1.5px,
    transparent 1.5px
  );

  background-size: 28px 28px;
}
