.grid-bg {
  min-height: 100vh;
  width: 100%;
  background-color: #0b0b0b;

  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size: 80px 80px;
}


